body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.board {
    display:flex;
    flex-direction: column;
    border: 0;
    height: 800px;
    width: 792px;
    margin-top: 20px;
    border: 2px solid black;
}

.square {
    min-height: 6px;
    min-height: 6px;
    flex: 1;
    border: 1px solid grey;

}

.square:hover {
    cursor: grab;
}


.columns_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
    flex: 1;
    height: 100%;

}

.hover_on{
    background-color: green;
}

.tiny {
    font-size: 8px;
    align-self: center;
}