body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.board {
    display:flex;
    flex-direction: column;
    border: 0;
    max-height: 80%;
    max-width: 80%;
    min-width: 50%;
    min-height: 50%;
    margin-top: 20px;
}

.square {
    border: 2px solid grey;
    min-width: 20px;
    min-height: 20px;
}

.square:hover {
    cursor: grab;
}


.columns_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;

}
