body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.board {
    display:flex;
    flex-direction: column;
    border: 0;
  height: 80%;
 width: 80%;
    margin-top: 20px;
    border: 2px solid black;
}

.square {
    min-height: 20px;
    min-height: 20px;
    flex-grow: 1;
    flex-shrink: 0.3;
    flex: 1;
    border: 1px solid grey;

}

.square:hover {
    cursor: grab;
}


.columns_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;

}

.hover_on{
    background-color: green;
}